# Mac
*.DS_STORE

# python
env/

# mkdocs
site/

.idea/

# FHIR publisher 
input-cache/
temp/
fsh-generated/
template/
output/
updateWebsite.sh
nginx.conf
fhircast-template/content/.index.json
fhircast-template/content/assets/.index.json
fhircast-template/content/assets/ico/.index.json
fhircast-template/content/assets/images/.index.json
fhircast-template/includes/.index.json
fhircast-template/content/assets/images/.index.json
fhircast-template/content/assets/images/.index.db
fhircast-template/content/assets/ico/.index.json
fhircast-template/content/assets/ico/.index.db
fhircast-template/content/assets/.index.json
fhircast-template/content/assets/.index.db
fhircast-template/content/.index.json
fhircast-template/content/.index.db
