# ╭──────────────────────────────────────ImplementationGuide───────────────────────────────────────╮
# │  The properties below are used to create the ImplementationGuide resource. For a list of       │
# │  supported properties, see: https://fshschool.org/docs/sushi/configuration/                    │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
id: hl7.fhir.uv.fhircast
canonical: http://hl7.org/fhir/uv/fhircast
name: FHIRcast
title: FHIRcast
description: "FHIRcast synchronizes healthcare applications in real time to show the same clinical content to a common user."
status: draft
extension:
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-wg  #<<< must include a http://hl7.org/fhir/StructureDefinition/structuredefinition-wg extension that identifies the workgroup responsible for the IG. This is the authoritative element.
    valueCode: inm  # <<< The value must be the code for the workgroup
license: CC0-1.0 # https://www.hl7.org/fhir/valueset-spdx-license.html
jurisdiction: 'http://unstats.un.org/unsd/methods/m49/m49.htm#001'
fhirVersion: 4.0.1 # https://www.hl7.org/fhir/valueset-FHIR-version.html
version: 3.0.0-ballot
copyrightYear: 2017+
releaseLabel: STU 3 Ballot  # ci-build | draft | qa-preview | ballot | trial-use | release | update | normative+trial-use
publisher:
  name: HL7 International / Infrastructure And Messaging
  url: http://www.hl7.org/Special/committees/inm
  email: inm@lists.HL7.org 
dependencies:
  hl7.fhir.uv.ipa: 1.0.0
pages:
  index.md: 
    title: Introduction
  2_Specification.md:
    title: FHIRcast Specification
    2-1-SessionDiscovery.md:
      title: Session Discovery
    2-2-FhircastScopes.md:
      title: OAuth 2.0 Authorization Scopes
    2-3-Events.md:
      title: Event Format
    2-4-Subscribing.md:
      title: Subscribing to Events
    2-5-EventNotification.md:
      title: Event Notification
    2-6-RequestContextChange.md:
      title: Request Context Change
    2-7-Conformance.md:
      title: Conformance
    2-8-Extensions.md:
      title: Extensions
    2-9-GetCurrentContext.md:
      title: Get Current Context
    2-10-ContentSharing.md:
      title: Content Sharing
       
  3_Events.md:
    title: Event Library
    3-1-0-eventstructures.md:
      title: FHIRcast Event Definitions
      3-1-1-template.md:
        title: Event Template
      3-1-2-eventmaturitymodel.md:
        title: Event Maturity Model
    3-2-0-infrastructureevents.md:
      title: Infrastructure Events
      3-2-1-SyncError.md:
        title: SyncError Event
      3-2-2-Heartbeat.md:
        title: HeartBeat Event
      3-2-3-UserLogout.md:
        title: UserLogout Event
      3-2-4-UserHibernate.md:
        title: userhibernate Event
      3-2-5-Home-open.md:
        title: Home-open Event
    3-3-0-patientevents.md:
      title: Patient Events
      3-3-1-Patient-open.md:
        title: Patient-open Event
      3-3-2-Patient-close.md:
        title: Patient-close Event
    3-4-0-encounterevents.md:
      title: Encounter Events
      3-4-1-Encounter-open.md:
        title: Encounter-open Event
      3-4-2-Encounter-close.md:
        title: Encounter-close Event
    3-5-0-imagingstudyevents.md:
      title: ImagingStudy Events
      3-5-1-ImagingStudy-open.md:
        title: ImagingStudy-open Event
      3-5-2-ImagingStudy-close.md:
        title: ImagingStudy-close Event
    3-6-0-diagnosticreportevents.md:
      title: DiagnosticReport Events
      3-6-1-DiagnosticReport-open.md:
        title: DiagnosticReport-open Event
      3-6-2-DiagnosticReport-close.md:
        title: DiagnosticReport-close Event
      3-6-3-DiagnosticReport-update.md:
        title: DiagnosticReport-update Event
      3-6-4-DiagnosticReport-select.md:
        title: DiagnosticReport-select Event

  4_Scenarios.md:
    title: Scenarios
    4-1-launch-scenarios.md:
      title: Application Launch Scenarios and Session Discovery
    4-2-syncconsiderations.md:
      title: Synchronization Considerations
    4-3-security-considerations.md:
      title: Security Considerations
    4-4-multitab-considerations.md:
      title: Multi-tab Considerations
    4-5-multi-anchor-considerations.md:
      title: Multi-anchor Considerations
    4-6-fhircast-event-content-sharing.md:
      title: FHIRcast Event-based Content Sharing

  5_glossary.md:
    title: Glossary

  6_change-log.md:
    title: Specification Information

  7_design-notes.md:
    title: Design Notes

# ╭────────────────────────────────────────────menu.xml────────────────────────────────────────────╮
# │  To use a provided input/includes/menu.xml file, delete the "menu" property below.             │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
menu:
  Home: index.html
  TOC: toc.html
  Specification: 
    Introduction: 2_Specification.html
    Session Discovery: 2-1-SessionDiscovery.html
    OAuth 2.0 Authorization Scopes: 2-2-FhircastScopes.html
    Event Format: 2-3-Events.html
    Subscribing to Events: 2-4-Subscribing.html
    Event Notification: 2-5-EventNotification.html
    Request Context Change: 2-6-RequestContextChange.html
    Conformance: 2-7-Conformance.html
    Extensions: 2-8-Extensions.html
    Get Current Context: 2-9-GetCurrentContext.html
    Content Sharing: 2-10-ContentSharing.html
  Events: 
    Introduction: 3_Events.html
    FHIRcast Event Definitions: 3-1-0-eventstructures.html
    Event Template: 3-1-1-template.html
    Event Maturity Model: 3-1-2-eventmaturitymodel.html
    Infrastructure Events: 3-2-0-infrastructureevents.html
    Patient Events: 3-3-0-patientevents.html
    Encounter Events: 3-4-0-encounterevents.html
    ImagingStudy Events: 3-5-0-imagingstudyevents.html
    DiagnosticReport Events: 3-6-0-diagnosticreportevents.html
  Scenarios: 
    Introduction: 4_Scenarios.html
    Application Launch Scenarios and Session Discovery: 4-1-launch-scenarios.html
    Synchronization Considerations: 4-2-syncconsiderations.html 
    Security Considerations: 4-3-security-considerations.html
    Multi-tab Considerations: 4-4-multitab-considerations.html
    Multi-anchor Considerations: 4-5-multi-anchor-considerations.html
    FHIRcast Event-based Content Sharing: 4-6-fhircast-event-content-sharing.html

  Glossary: 5_glossary.html
  Artifacts: artifacts.html
