# ╭──────────────────────────────────────ImplementationGuide───────────────────────────────────────╮
# │  The properties below are used to create the ImplementationGuide resource. For a list of       │
# │  supported properties, see: https://fshschool.org/docs/sushi/configuration/                    │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
id: hl7.fhir.uv.fhircast
canonical: http://hl7.org/fhir/uv/fhircast
name: FHIRcast
title: FHIRcast
description: "FHIRcast synchronizes healthcare applications in real time to show the same clinical content to a common user."
status: draft
version: 2.1.0-ballot
jurisdiction: 'http://unstats.un.org/unsd/methods/m49/m49.htm#001'
fhirVersion: 4.0.1
copyrightYear: 2017+
releaseLabel: ballot
publisher:
  name: HL7 International - Infrastructure and Messaging
  url: http://hl7.org/Special/committees/inm
  email: inm@lists.HL7.org 
pages:
  index.md: 
    title: Introduction
  2_Specification.md:
    title: FHIRcast specification
    2-1-SessionDiscovery.md:
      title: Session Discovery
    2-2-FhircastScopes.md:
      title: OAuth2 authorization scopes
    2-3-Events.md:
      title: Event format
    2-4-Subscribing.md:
      title: Subscribing and unsubscribing
    2-5-EventNotification.md:
      title: Event notification
    2-6-RequestContextChange.md:
      title: Request Context Change
    2-7-Conformance.md:
      title: Conformance
    2-8-Extensions.md:
      title: Extensions
    2-9-GetCurrentContext.md:
      title: Get Current Context
    2-10-ContentSharing.md:
       title: Content Sharing
       
  3_Events.md:
    title: Event library
    3-1-0-eventstructures.md:
      title: FHIRcast Event Definitions
      3-1-1-template.md:
        title: Event template
      3-1-2-eventmaturitymodel.md:
        title: Event maturity model
    3-2-0-infrastructureevents.md:
      title: Infrastructure Events
      3-2-1-syncerror.md:
        title: Sync error event
      3-2-2-heartbeat.md:
        title: Heartbeat event
      3-2-3-userlogout.md:
        title: User logout event
      3-2-4-userhibernate.md:
        title: User hibernate event
    3-3-0-patientevents.md:
      title: Patient Events
      3-3-1-patient-open.md:
        title: Patient open event
      3-3-2-patient-close.md:
        title: Patient close event
    3-4-0-encounterevents.md:
      title: Encounter Events
      3-4-1-encounter-open.md:
        title: Encounter open event
      3-4-2-encounter-close.md:
        title: Encounter close event
    3-5-0-imagingstudyevents.md:
      title: ImagingStudy Events
      3-5-1-imagingstudy-open.md:
        title: ImagingStudy open event
      3-5-2-imagingstudy-close.md:
        title: ImagingStudy close event
    3-6-0-diagnosticreportevents.md:
      title: DiagnosticReport Events
      3-6-1-diagnosticreport-open.md:
        title: DiagnosticsReport open event
      3-6-2-diagnosticreport-close.md:
        title: DiagnosticReport close event
      3-6-3-diagnosticreport-update.md:
        title: DiagnosticsReport update event
      3-6-4-diagnosticreport-select.md:
        title: DiagnosticReport select event

  4_Scenarios.md:
    title: Scenarios
    4-1-launch-scenarios.md:
      title: App launch scenarios and session discovery
    4-2-syncconsiderations.md:
      title: Synchronization considerations
    4-3-security-considerations.md:
      title: Security considerations
    4-4-multitab-considerations.md:
      title: Multi-tab considerations
    4-5-multi-anchor-considerations.md:
      title: Multi-anchor considerations
    4-6-content-sharing.md:
      title: Content Sharing

  5_glossary.md:
    title: Glossary

  6_change-log.md:
    title: Change log

  7_design-notes.md:
    title: Design notes

# ╭────────────────────────────────────────────menu.xml────────────────────────────────────────────╮
# │  To use a provided input/includes/menu.xml file, delete the "menu" property below.             │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
menu:
  Home: index.html
  TOC: toc.html
  Specification: 
    Introduction: 2_Specification.html
    Session Discovery: 2-1-SessionDiscovery.html
    OAuth2 authorization scopes: 2-2-FhircastScopes.html
    Event format: 2-3-Events.html
    Subscribing and unsubscribing: 2-4-Subscribing.html
    Event notification: 2-5-EventNotification.html
    Request Context Change: 2-6-RequestContextChange.html
    Conformance: 2-7-Conformance.html
    Extensions: 2-8-Extensions.html
    Get Current Context: 2-9-GetCurrentContext.html
    Content Sharing: 2-10-ContentSharing.html
  Events: 
    Introduction: 3_Events.html
    FHIRcast Event Definitions: 3-1-0-eventstructures.html
    Event template: 3-1-1-template.html
    Event maturity model: 3-1-2-eventmaturitymodel.html
    Infrastructure Events: 3-2-0-infrastructureevents.html
    Patient Events: 3-3-0-patientevents.html
    Encounter Events: 3-4-0-encounterevents.html
    ImagingStudy Events: 3-5-0-imagingstudyevents.html
    DiagnosticReport Events: 3-6-0-diagnosticreportevents.html
  Scenarios: 
    Introduction: 4_Scenarios.html
    App launch scenarios and session discovery: 4-1-launch-scenarios.html
    Synchronization considerations: 4-2-syncconsiderations.html 
    Security considerations: 4-3-security-considerations.html
    Multi-tab considerations: 4-4-multitab-considerations.html
    Multi-anchor considerations: 4-5-multi-anchor-considerations.html
    Content Sharing: 4-6-content-sharing.html
  Glossary: 5_glossary.html
  Artifacts: artifacts.html
